.note-item {
  width: 250px;
  border: 1px solid gray;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: #fdce03;
  h4 {
    background-color: #e0b804;
    margin: 0;
    padding: 5px;
  }
  p {
    padding: 5px;
  }
  small {
    padding: 5px;
    text-align: right;
  }
  .note-actions {
    padding: 5px;
  }
}
